body {
    background-size: cover;
}

#title {
    background-color: indigo;
    border-radius: 100px;
    max-width: 200px;
    color: gold;
    box-shadow: goldenrod 100px;
}

#note {
    background-color: indigo;
    border-radius: 100px;
    max-width: 550px;
    color: gold;
    box-shadow: goldenrod 100px;
}

#song_name {
    background-color: indigo;
    border-radius: 100px;
    max-width: 200px;
    color: gold;
    box-shadow: goldenrod 100px;
}

canvas {
    border-radius: 100px;
    max-width: 200px;
    color: gold;
    box-shadow: goldenrod 100px;
}

#start {
    background-image: "download (4).png";
    background-size:contain;
    border-radius:200px;
    width:50px;
    height:50px;
}

#pause {
    background-image: "istockphoto-890158078-612x612.jpg";
    background-size:contain;
    border-radius:200px;
    width:50px;
    height:50px;
}

#stop {
    background-image: "images.png";
    background-size:contain;
    border-radius:200px;
    width:50px;
    height:50px;
}